<main
  class="container-fluid d-flex flex-column align-items-center justify-content-center min-vh-100 p-4"
>
  <div
    class="d-flex flex-column align-items-center w-100"
    style="max-width: 1000px"
  >
    <!-- Título acima do vídeo -->
    <div
      class="text-center bg-white p-4 rounded-3 shadow-lg mb-4"
      style="width: 90%; max-width: 500px"
    >
      <h1 class="display-4 fw-bold text-primary mb-3">Bem-vindo à Ford!</h1>
    </div>

    <div
      class="position-relative w-100 overflow-hidden rounded-3 shadow-lg mb-4"
      style="max-width: 800px"
    >
      <!-- Vídeo promocional da Ford -->
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/vQsryuNmsL0?autoplay=1&mute=1&loop=1&playlist=vQsryuNmsL0&controls=0&modestbranding=1&showinfo=0&rel=0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="w-100 h-100"
        ></iframe>
        <div
          class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25"
        ></div>
        <!-- Overlay para escurecer o vídeo -->
      </div>
    </div>

    <!-- Texto abaixo do vídeo e mensagem de redirecionamento -->
    <div
      class="text-center bg-white p-4 rounded-3 shadow-lg"
      style="width: 90%; max-width: 500px"
    >
      <p class="lead text-secondary mb-0">
        Descubra o futuro da mobilidade e gerencie seus veículos.
      </p>

      <div class="redirection-message mt-3">
        <!-- Mensagem de carregamento inicial com spinner -->
        <ng-container *ngIf="!isLinkEnabled">
          <p class="text-info mb-2">Você será direcionado...</p>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Carregando...</span>
          </div>
          <p class="text-info mb-0">
            Em caso de demora,
            <a [routerLink]="['/home']" class="text-primary fw-bold"
              >clique aqui</a
            >.
          </p>
        </ng-container>
        <!--verificar após a implementação da pagina
         Mensagem com link habilitado (visível após 30 segundos) 
        <ng-container *ngIf="isLinkEnabled">
          <p class="text-info mb-0">
            Em caso de demora,
            <a [routerLink]="['/home']" class="text-primary fw-bold"
              >clique aqui</a
            >.
          </p>
        </ng-container>
-->
      </div>
    </div>
  </div>
</main>
